[alias]
	s = status -s
        c = commit -m 
        l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

	# amend staged files to latest commit
	amend = commit --amend --reuse-message=HEAD
        contrib = shortlog --summary --numbered
        b = branch --sort=-committerdate --format='%(committerdate:short) %(refname:short)'
	
[user]
	email = contact@petermaltby.com
	name = Peter Maltby
[init]
	defaultBranch = main
[pull]
	rebase = true
