[alias]
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	s = status -s
	c = commit -m 
	# amend staged files to latest commit
	amend = commit --amend --reuse-message=HEAD
	contrib = shortlog --summary --numbered
	
[user]
	email = peter.maltby1@sainsburys.co.uk
	name = Peter Maltby
[init]
	defaultBranch = main
[pull]
	rebase = false
