- name: package install
  hosts: all
  become: true
  connection: ssh


  tasks:
    - name: Install Packages
      pacman:
        name: "{{( common_packages | default([])) + (arch_packages | default([]))}}"
        state: present
        update_cache: yes
      when: ansible_facts['distribution']=="Archlinux"
      register: arch_package_result

    - name: Log Arch package installation result
      debug:
        msg:
          - "Arch packages installation: {{ 'CHANGED' if arch_package_result.changed else 'NO CHANGES' }}"
          - "Packages installed/updated: {{ arch_package_result.packages | default([]) | length }}"
      when: 
        - ansible_facts['distribution'] == "Archlinux"
        - arch_package_result is defined
      tags: always


    - name: Install Packages
      apt:
        name: "{{( common_packages | default([])) + (debian_packages | default([]))}}"
        update_cache: yes
        cache_valid_time: 3600
        state: present
      when: ansible_facts['distribution']=="Debian"
      register: debian_packages_result

    - name: Log package installation result
      debug:
        msg:
          - "Debian packages installation: {{ 'CHANGED' if arch_package_result.changed else 'NO CHANGES' }}"
          - "Packages installed/updated: {{ arch_package_result.packages | default([]) | length }}"
      when: 
        - ansible_facts['distribution'] == "Debian"
        - debian_packages_result is defined
      tags: always
