- name: set up my User and add SSH keys
  hosts: all
  become: true
  connection: ssh


  tasks:
    - name: Add users
      user:
        name: "{{ item.name }}"
        shell: /bin/bash
        append: yes
        create_home: yes
        groups: "{{ item.groups | default([]) }}"
        state: present
      loop: "{{ users }}"

    - name: Add .ssh directories
      file:
        path: "/home/{{ item.name }}/.ssh"
        state: directory
        mode: '0700'
        owner: "{{ item.name }}"
        group: "{{ item.name }}"
      loop: "{{ users }}"

    - name: Add ssh keys
      authorized_key:
        user: "{{ item.name }}"
        key: "{{ lookup('file', item.auth_key_path) }}"
        state: present
      when: item.auth_key_path | length > 0
      loop: "{{ users }}"

    - name: Make sudo group users passwordless sudoers
      lineinfile:
        path: "/etc/sudoers.d/{{ item.name }}"
        line: "{{ item.name }} ALL=(ALL) NOPASSWD:ALL"
        create: yes
        mode: '0440'
        validate: 'visudo -cf %s'
      loop: "{{ users }}"

    - name: Disable root SSH login
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PermitRootLogin'
        line: 'PermitRootLogin no'
        state: present
        validate: '/usr/sbin/sshd -t -f %s'
      notify: Restart SSH

    - name: Disable password authentication (SSH keys only)
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PasswordAuthentication'
        line: 'PasswordAuthentication no'
        state: present
        validate: '/usr/sbin/sshd -t -f %s'
      notify: Restart SSH

    - name: Ensure sshd is running
      systemd:
        name: sshd
        state: started
        enabled: yes
      when: ansible_facts['distribution']=="Archlinux"

    - name: Ensure ssh is running
      systemd:
        name: ssh
        state: started
        enabled: yes
      when: ansible_facts['distribution']=="Debian"

    - name: Display success message
      debug:
        msg:
          - "User {{ item.name }} created successfully!"
          - "SSH key authentication configured"
          - "Test connection with: ssh {{ item.name }}@{{ ansible_host }}"
      loop: "{{ users }}"

  handlers:
    - name: Restart SSH
      systemd:
        name: ssh
        state: restarted

