{
	"device_name": "DEVICE_NAME",
	"listening_port": 8888,
	"use_upnp": false,

	"shared_folders" :
	[
	{
		"secret": "mysecret code",
		"dir": "/home/user/myfiles",
		"use_relay_server" : true,
		"use_tracker": false,
		"search_lan": false,
		"use_sync_trash" : false,
		"overwrite_changes": false,
		"selective_sync": false
	},
	]
}
